<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title project.config('title') %}</title>
    <link href="/dist/{{ style }}" rel="stylesheet">
</head>
<body role="document">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        <img src="/assets/img/brand.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Objective PHP
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/doc">Documentation</a>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="http://github.com/objective-php" target="_blank">Objective PHP on GitHub</a>
            </li>
        </ul>
    </div>
</nav>
<nav id="site-nav" class="navbar navbar-default" role="navigation">
    <div class="control-nav-bar-cont">
        <div id="control-panel">
        </div>
        <div id="version-dropdown" class="btn-group">
            <p> {% block VERSION '' %}</p>
        </div>
        <div id="component-name">
            <p> {% block COMPONENTNAME '' %}</p>
        </div>
    </div>
</nav>
<div id="left-column" class="menu-container ">
    <div id="api-tree">
        <!--#include virtual="/doctree.html" -->
    </div>
</div>

<div id="right-column">
    <div id="page-content">
        {% block content '' %}
    </div>
</div>
<script src="/dist/dataMenu.js"></script>
<script src="/dist/{{ app }}"></script>
<script src="/assets/dev.js"></script>
</body>
</html>