.idea/
vendor/
node_modules/
tmp/
app/src/Manager/Renderer/
app/theme/scss/theme.css

packages/
public/assets/style.css
public/assets/theme.js
public/assets/dev.js
public/assets/dataMenu.js
public/doc/

yarn-error.log