//4 color, 90° on the nuancier
$primary: #515A91;
//$secondary: #D3A168;
//$tertiary: #D3C668;
$tertiary: #B55980;
//$tertiary: #D3C668;
$secondary: #94C05F;
$quaternary: #D3B568;

$theme-colors: (
        "tertiary": $tertiary,
        "property": #aa823f,
        "class": #3e86a0,
        "method": #ad6c79,
        "interface": #5e8a4f,
        "abstract": #3e86a0,
        "trait": #a09d35
);

//@import "~font-awesome/scss/font-awesome";
@import "~bootstrap/scss/bootstrap";
@import "~github-markdown-css/github-markdown";

// Start
$main-contrast-color: $secondary;
$rezozero-header-color: #4d4d4d;
$alt-color: #eaeaea;
$linked-color: #e24337;
$selected-color: #ff7b6d;

$headerHeight: 56px;
$controlsHeight: 60px;
$header-height: $headerHeight;
$rz-header-height: $headerHeight;

$left-width: 25vw;
$right-width: 75vw;

a.active {
  font-weight: bold;
}

/* Site columns */
#right-column {
  padding-top: $headerHeight + $controlsHeight;
  margin-left: $left-width;
  @media (min-width: 1283px) {
    margin-left: 325px;
  }
}

#page-content {
  padding: 30px;
  @media (max-width: 767px) {
    padding-top: $controlsHeight + 30px;
  }
}

#left-column {
  width: $left-width;
  max-width: 325px;
  position: fixed;
  line-height: 20px;
  font-size: 15px;
  top: $headerHeight + $controlsHeight;
  height: calc(100% - #{$headerHeight + $controlsHeight});

  background-size: 100% 56px;
  overflow: auto;
  height: 100%;
  background: #f2f2f2 local;
  padding: 10px 30px;
}

@media (max-width: 767px) {
  #left-column {
    display: none;
  }
  #right-column {
    width: 100%;
    margin-left: 0;
    padding-top: $headerHeight;
  }
  #site-nav.navbar-default {
    position: relative;
    top: 0;
  }
}

/* API Tree */

//#api-tree {

//}

#api-tree ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#api-tree ul li {
  padding: 0;
  margin: 0;
}

#api-tree > ul > li {
  margin-top: 10px;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "";
}

#api-tree ul li .hd {
  padding: 5px;
}

#api-tree ul li .hd a {
  font-weight: bold;
}

#api-tree li .hd:nth-child(even) {
  background-color: $alt-color;
}

#api-tree ul li.opened > .hd i, ul li.nojs:hover > .hd i {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#api-tree .bd {
  display: none;
}

#api-tree li.opened > .bd, li.nojs:hover > .bd {
  display: block !important;
}

#api-tree li .hd:hover {
  background-color: #eee;
}

#api-tree li.active > .hd {
  background-color: $selected-color;
}

#api-tree li.active > .hd a {
  color: #fff;
}

#api-tree a {
  text-transform: capitalize;
  color: #222;
}

#api-tree div.leaf a {
  padding-left: 44px;
}

#api-tree .hd i {
  padding: 2px 8px;
}

/* Control panel, search form, version drop-down */

#control-panel {
  background: $main-contrast-color;
  padding: 12px;
  box-sizing: border-box;
  width: $left-width;
  height: $controlsHeight;

  display: flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-around;

  @media (min-width: 767px) {
    max-width: 325px;
  }
  @media (max-width: 767px) {
    width: 100vw;
  }
}

#control-panel form {
  margin: 4px 4px 5px 4px;
}

#search-form {
  position: relative;
}

#search-form input {
  width: 100%;
  padding-left: 28px;
  border-radius: 34px;
  border: 0 none;
}

#search-form i.fa-search {
  position: absolute;
  left: 12px;
  top: 10px;
  font-size: 14px;
  z-index: 2;
}

/* Site menu */

.control-nav-bar-cont {
  display: flex;
  height: $controlsHeight;
  line-height: $controlsHeight;
  text-transform: capitalize;
  vertical-align: middle;
  font-size: 30px;
  font-weight: bold;
}

#version-select {
  margin: auto;
  line-height: 25px;
}

#version-dropdown, #version-dropdown p {
  width: 120px;
  text-align: center;
  position: relative;
  z-index: 100;
}

#version-options {
  line-height: 1.5;
  position: absolute;
  z-index: 101;
}

#site-nav.navbar-default {
  margin: 0;
  padding: 0;
  border-radius: 0;
  background-color: #f2f2f2;
  box-shadow: none;
  box-sizing: border-box;
  height: $controlsHeight;
  position: fixed;
  top: $headerHeight;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Api menu */

#api-nav {
  position: fixed;
  top: $headerHeight + $controlsHeight;
  left: 0;
  right: 0;
  background-color: $secondary;
  padding: 0;
  margin: 0;
  z-index: 98;
  @media (min-width: 767px) and (max-width: 1200px) {
    left: $left-width;
  }
  @media (min-width: 1200px) {
    left: 325px;

  }
}

#navbar-elements {
  height: $controlsHeight;
  line-height: $controlsHeight;
  padding: 0;
  margin: 0;
}

#api-content {
  margin-top: $controlsHeight;
}

#api-nav.navbar-default .navbar-nav > li {
  height: $controlsHeight;
  padding: 0;
  margin: 0;
}

#api-nav.navbar-default .navbar-nav > li > a {
  line-height: $controlsHeight;
  box-sizing: border-box;

  color: #333333;
  font-size: 16px;
  text-transform: uppercase;
  padding: 6px 12px;
  background-color: #f7f7f7;
  border: 1px solid #afafaf;
  border-radius: 5px;
  vertical-align: top;

  text-decoration: none;
  &:hover {
    color: lighten(#333333, 5%);
    background-color: darken(#f7f7f7, 5%);
  }
}

#api-nav.navbar-default .navbar-nav > li.spacer {
  min-width: 5px;
  @media (max-width: 767px) {
    width: calc((100vw - 490px) / 6);
  }
  width: calc((#{$right-width} - 490px) / 6);
}

.label {
  padding: .2em .6em .3em;
  font-weight: 700;
  color: #fff;
  vertical-align: text-top;
  border-radius: .25em;
}

.label-default {
  background-color: $primary;
}

.markdown-body table td, .markdown-body table th {
  border: initial;
}

div.method-item > h3 {
  font-weight: initial;
}

code {
  color: initial;
}

.location {
  float: right;
}

#search-input {
  height: $controlsHeight;
  line-height: $controlsHeight;
  width: 500px;
}

//
//.aa-input-container {
//  @media (min-width: 767px) {
//    width: 25vw;
//  }
//  line-height: 30px;
//  box-sizing: border-box;
//  font-size: 18px;
//  position: relative;
//}
//
//.aa-input-search {
//  margin-left: 40px;
//  width: calc(100% - 40px);
//  border-radius: 5px;
//  border: 1px solid rgba(228, 228, 228, 0.6);
//  padding-left: 12px;
//  box-sizing: border-box;
//  -webkit-appearance: none;
//  -moz-appearance: none;
//  appearance: none;
//}
//
//.aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button, .aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
//  display: none;
//}
//
//.aa-input-icon {
//  height: 16px;
//  width: 16px;
//  position: absolute;
//  top: 50%;
//  left: 8px;
//  -webkit-transform: translateY(-50%);
//  transform: translateY(-50%);
//  fill: #222222;
//}
//
//.aa-dropdown-menu {
//  background-color: #fff;
//  border: 1px solid rgba(228, 228, 228, 0.6);
//  width: 1000px;
//  //min-width: 300px;
//  margin-top: 10px;
//  box-sizing: border-box;
//}
//
//.aa-suggestion {
//  padding: 12px;
//  cursor: pointer;
//}
//
//.aa-suggestion + .aa-suggestion {
//  border-top: 1px solid rgba(0, 0, 0, 0.6);
//}
//
//.aa-suggestion:hover, .aa-suggestion.aa-cursor {
//  background-color: rgba(241, 241, 241, 0.35);
//}
//
//.algolia-autocomplete em, #hits em {
//  color: red;
//}

#suggestion-type {
  float: right;
  width: 110px;
  text-align: center;
}

.hit {
  color: black;
}

.hit em {
  color: $secondary;
}

#facets {

}

#facets > div {
  margin: 30px 0;
}

//.markdown-body li + li{
//  margin-top: 0;
//}
.search-page {
  font-size: 26px;
  line-height: 39px;
}

#page-content .pagination {
  font-size: 1rem;
  line-height: 1.5;
  li {
    margin-top: 0;
    font-weight: bold;
    &.disabled a{
      font-weight: normal;
      color: #828282;
    }
    a {
      padding: 5px;
    }
  }
}


a.index_property_link {
  color: #828282;
}

dt.index-item .badge {
  width: 70px;
  text-align: center;
  margin-right: 10px;
  font-style: italic;
  cursor: pointer;
}

#page-content dt.index-item {
  font-style: normal;
  a {
    color: #212529;
  }
}

dt.index-item a.method-class-link abbr {
  color: #828282;
}

div.method-row {
  border-bottom: 1px #828282 solid;
  border-top: 1px #828282 solid;
}

abbr[title], abbr[data-original-title] {
  text-decoration: none;
  cursor: initial;
}

//Sami


/** General Sami styling **/

.underlined > .row {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

#footer {
  text-align: right;
  margin: 30px;
  font-size: 11px;
}

.description {
  margin: 10px 0;
  padding: 5px 10px;
  background-color: #efefef;
}

.description p {
  padding: 0;
  margin: 8px 0;
}

.method-description {
  margin: 0 0 24px 0;
}

.details {
  padding-left: 30px;
}

#method-details .method-item {
  margin-bottom: 30px;
}

.method-item h3,
.method-item h3 code {
  background-color: #eee;
}

.method-item h3 {
  padding: 4px;
  margin-bottom: 20px;
  font-size: 20px;
}

.location {
  font-size: 11px;
  float: right;
  font-style: italic;
}

.namespace-list a {
  padding: 3px 8px;
  margin: 0 5px 5px 0;
  //border: 1px solid #ddd;
  background-color: #f9f9f9;
  display: inline-block;
  border-radius: 4px;
}

.no-description {
  color: #ccc;
  font-size: 90%;
}


/* Namespaces page */

//.namespaces {
//  clear: both;
//}
//
//.namespaces .namespace-container {
//  float: left;
//  margin: 0 14px 14px 0;
//  min-width: 30%;
//}
//
//.namespaces h2 {
//  margin: 0 0 20px 0;
//}
//
//@media (max-width: 991px) {
//  .namespaces .namespace-container {
//    margin-right: 0;
//    width: 100%;
//  }
//}


/** Code and pre tags **/

tt, code, pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
  color: #333;
}

pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

h2 {
  background-color: #f2f2f2;
  padding: 4px 4px 4px 8px;
  font-size: 25px;
  margin: 20px 0;
}


/** Doc index **/

dt {
  font-weight: normal;
}

dd {
  margin-left: 30px;
  line-height: 1.5em;
}

#doc-index h2 {
  font-weight: bold;
  margin: 30px 0;
}

#doc-index .pagination {
  margin: 0;
}
