<article>
    <header>
        <h1>Welcome to Objective PHP documentation</h1>
        <p class="lead">Start here to learn the essentials about how to use the framework</p>
    </header>
    <div class="alert alert-warning" role="alert">Please take attention on the versions you are using</div>
</article>